/.vscode
/notes
/__pycache__
/data
/example
/checkpoints
/extra
/plots
/results
/logs
/survival_analysis_results
/survival_analysis.ipynb
/dataset.zip
/scripts/__pycache__
*.txt
*.pkl
*.zip
*.csv
events.*
*.pyc
/data
/results
/pathomics_collagen
*.png
*.jpg
*.DS_Store